.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border: 5px double dodgerblue;
  min-width: 25vw;
  background-color: rgba(0, 0, 0, 0.4);
}
