@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Play:wght@400;700&display=swap');
.bg-new {
  /* https://grabient.com/HQBgrAzANKAsAcMT0cAjLAnDNYDsOsATDEUSKWicGWlBMHmtA3kS8AGybShgVpQIAUIoggA?style=linearSwatches */
  background: linear-gradient(90deg, #121216 0.000%, #121216 7.692%, #16171a calc(7.692% + 1px), #16171a 15.385%, #1a1b1f calc(15.385% + 1px), #1a1b1f 23.077%, #1f2023 calc(23.077% + 1px), #1f2023 30.769%, #232427 calc(30.769% + 1px), #232427 38.462%, #27282b calc(38.462% + 1px), #27282b 46.154%, #2b2c2f calc(46.154% + 1px), #2b2c2f 53.846%, #2f3033 calc(53.846% + 1px), #2f3033 61.538%, #323337 calc(61.538% + 1px), #323337 69.231%, #36373a calc(69.231% + 1px), #36373a 76.923%, #38393d calc(76.923% + 1px), #38393d 84.615%, #3b3c40 calc(84.615% + 1px), #3b3c40 92.308%, #3d3e42 calc(92.308% + 1px) 100.000%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 75%;
    height: 75%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .main-content-scroll {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      width: 100%;
      scroll-snap-type: y mandatory;
      scroll-snap-align: start;

      .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;


        .profile-pic {
          display: inline-block;
          position: relative;
          width: 300px;
          height: 300px;
          overflow: hidden;
          border-radius: 50%;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .button-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);

      .window-title {
        padding: 0 25px;
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
      }

      .window-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        height: 30px;
        border-radius: 0 20px 0 0;

      }
    }
  }
}

p {
  font-family: 'Adwaita Sans', sans-serif;
  font-size: large;
  font-weight: 300;
  margin: 0;
  max-width: 800px;
  padding: 20px;
}
.banner {
  display: flex;
  background-color: #778899;
  justify-content: space-between;
  background-image: url("/bannerbackground.jpg");
}
.name-header {
  font-family: 'Dosis', sans-serif; font-size: 60px; margin-bottom: 0; color: dodgerblue;
}
.banner-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(35, 33, 71, 0.6) 100%);
}
.img-wrapper {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}
.infocard-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  app-infocard {
    flex-grow: 1;
    text-align: center;
    border: black solid 1px;
  }
}
.link-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #232147;
  padding-bottom: 48px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20vw;
  justify-content: space-between;
  gap: 20px;
}
.section-title {
  font-family: 'Doto', sans-serif;
  font-size: 40px;
  color: dodgerblue;
  text-align: center;
}
.line {
  height: 100%;
  width: 2px;
  background-color: white;
  margin-right: 20px;
}
.circle {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 3px solid #2F2F2F;
}
.timestamp {
  align-self: flex-start;
  margin: 5px 0 0 20px;
  color: #2F2F2F;
  font-size: 30px;
}
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25vw;
  gap: 5px;
}
.journey-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75vw;
}
.journey-text {
  font-size: 20px;
  text-align: center;
  max-width: fit-content;
  margin-right: 20vw;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-family: 'Adwaita Sans', sans-serif;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid black;
  width: 100%;
  max-width: 25vw;
  h3 {
    font-size: 24px;
    margin: unset;
  }
}
.email-link {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
a:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media (max-width: 1350px) {
  .skills-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .banner-content {
    flex-direction: column;
    align-items: center;
  }
  .journey-text {
    margin-right: 0;
  }
}
@media (max-width: 510px) {
  .name-header {
    text-align: center;
  }
}
